@font-face {
    font-family: 'Poxast-R9Jjl';
    src: url('/fonts/Poxast-R9Jjl.ttf');
    }
@font-face {
    font-family: 'ARCADE';
    src: url('/fonts/ARCADE.ttf');
    }
*{
    padding: 0;
    margin: 0;
}
html{
    cursor: url('./img/knife.png'), auto;
}
body{
    background-color: rgb(42, 35, 35);
    display: block;
    
}

nav{
    background-color: aqua;
     width: 100%;
     height: 8vh;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sky{
    border: solid black 12px;
    background-image: url(./img/skybg.jpg);
    top: 20vh;
    height: 80vh;
    width: 80vw;
    margin-top: 10vh;
    
   

}

.go{
    font-family: 'Poxast-R9Jjl';
}

.points{
    font-family: 'Poxast-R9Jjl';
}